---
title: Trailblazer API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - RUBY

toc_footers:
  - <a href='http://trailblazer.to/'>Trailblazer.to</a>
  - <a href='https://gitter.im/trailblazer/chat'>Gitter Chat</a>
  - <a href='https://github.com/trailblazer'>Trailblazer on Github</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - activity
  - operation
  - trailblazer
  - endpoint
  - transform
  - reform
  - cells
  - representer
  - roar
  - workflow
  - debugging
  - guides
  - examples
  - glossary
  - status
  - toolchain
  - support

search: true

torture:
  activity:
    root:         DOCS/trailblazer-activity/test
    root:         ../trailblazer-circuit/test
    default_file: docs/activity_test.rb
    branch:       master
  trailblazer:
    root:         ../DOCS/trailblazer,master
---

=======

# What is Trailblazer?
