---
title: Trailblazer API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - RUBY

toc_footers:
  - <a href='https://gitter.im/trailblazer/chat'>Gitter Chat</a>
  - <a href='https://github.com/trailblazer'>Trailblazer on Github</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - activity
  - activity/wiring_api
  - activity/internals
  - operation
  - trailblazer
  - test
  - workflow
  - endpoint
  - transform
  - reform
  - cells
  - debugging
  - glossary

search: true

torture:
  activity:
    root:         DOCS/trailblazer-activity/test
    root:         ../circuit/test
    default_file: docs/activity_test.rb
    branch:       master
  operation:
    root:         DOCS/trailblazer-operation/test
    root:         ../operation/test
    default_file: docs/wiring_test.rb
    branch:       master
  trailblazer:
    root:         ../DOCS/trailblazer,master
---

# What is Trailblazer?

The idea of 2.1 is: If you can't draw it, you can't code it.

business logic framework, no routing, no rendering, no database.
