---
title: Trailblazer API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - RUBY

toc_footers:
  - <a href='http://trailblazer.to/'>Trailblazer.to</a>
  - <a href='https://gitter.im/trailblazer/chat'>Gitter Chat</a>
  - <a href='https://github.com/trailblazer'>Trailblazer on Github</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - activity
  - operation
  - trailblazer
  - endpoint
  - transform
  - reform
  - cells
  - representer
  - roar
  - workflow
  - debugging
  - guides
  - examples
  - glossary
  - status
  - toolchain
  - support

search: true

torture:
  activity:
    root:         DOCS/trailblazer-activity/test
    default_file: docs/activity_test.rb
    branch:       master
  trailblazer:
    root:         ../DOCS/trailblazer,master
---





# What is Trailblazer?

### Framework-agnostic
The Trailblazer gems work with any Ruby framework. We provide glue code for Rails and Hanami, but there are TRB-powered apps in Roda, Grape, Sinatra and many more out there.

### Legacy-ready
You can start using Trailblazer in existing, massive applications today. Refactorings can be applied step-wise, legacy code can be minimized as you go. Remember: Rome wasn’t build in one day, either.

### Future-compatible
Our promise to the community: Trailblazer 2 will be supported until end of 2020 or longer. Our API design makes it easy to provide automatic upgrading and backward-compatibility so you won’t have to change code when we ship updates.

### Build to Refactor
Our patterns are developed to be used in highly complex, existing, messy legacy applications. Trailblazer is designed to refactor old code - you do not have to rewrite the entire system to get a better architecture.

### Test first
By restructuring business code, application behavior can be tested more efficiently with more unit and less integration tests. Trailblazer engineers do enjoy the simplicity of testing and the speedup of the test suites.

### It's real!
Trailblazer is in use in thousands of production applications. Our patterns have evolved over a decade of engineering, our gems are mature and battle-tested. And: we will never stop innovating.
