---
layout: home
name: "The Advanced Business Logic Framework"
description: "Trailblazer introduces additional abstraction layers into Ruby frameworks. Operations, form objects, view models, policies, domain objects, representers and more cover every aspect of business in web apps. And developers finally know where to put their code."
---

<!-- Hero -->
<div class="hero">
  <div class="hero-unit">
    <div class="row">
      <div class="columns">
        <h1>
          <img src="images/logo.svg">
        </h1>
        <h2>The Advanced Business Logic Framework</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column medium-9 medium-centered">
    <h2 class="text-center">Finally know where to put your code!</h2>

    Trailblazer gives you a high-level architecture for web applications. It extends the basic MVC pattern with new abstractions. Rock-solid conventions that go far beyond database table naming or route paths let you focus on your application code, minimize bugs and improve the maintainability.
  </div>
</div>

<div class="row">
  <div class="column medium-3 medium-offset-3">
    <img src="/images/diagrams/files-2017.png">
  </div>
  <div class="column medium-3 end">
    <img src="/images/diagrams/operation-2017-grey.png">
  </div>
</div>


<div class="row">
  <div class="column medium-3 medium-offset-3">
    <p>Trailblazer's file structure organizes by <strong>CONCEPT</strong> and then by technology.</p>

    <ul>
    <li><strong>THOUSANDS</strong> of users find this more intuitive and easier to navigate.</li>
    <li> It embraces the <strong>COMPONENT STRUCTURE</strong> of your code.</li>
    <li> Huge teams working on complex projects have it easier not to get into each others' way.</li>
    <li> Once a concept's <strong>CODE IS TESTED</strong> it won't break anywhere else.</li>
    <li> The modular structure <strong>SIMPLIFIES REFACTORING</strong> in hundreds of legacy production apps.</li>
    </ul>
  </div>
  <div class="column medium-3 end">
    <p>The new abstractions in Trailblazer are optional. Only use what you need.</p>

    <li><strong>CONTRACT</strong> Form objects to validate incoming data.</li>
    <li><strong>POLICY</strong> to authorize code execution per user.</li>
    <li><strong>OPERATION</strong> A service object implementation with functional flow control.</li>
    <li><strong>VIEW MODEL</strong> Components for your view code.</li>
    <li><strong>REPRESENTER</strong> for serializing and parsing API documents.</li>
    <li><strong>DESERIALIZER</strong> Transformers to parse incoming data into structures you can work with.</li>
  </div>
</div>


<div class="row">
  <div class="column medium-9 medium-centered text-center">
    <h2>Legacy app, refactoring or green-field?</h2>

    <p>Trailblazer helps improving your software in all kinds of systems and applications.</p>
  </div>
</div>


<section class="quarters">
  <div class="row">
    <div class="column medium-4">
      <h4>
        <i class="fa fa-gamepad"></i>
        Framework-agnostic
      </h4>

      The Trailblazer gems work with any Ruby framework. We provide glue code for Rails and Hanami, but there are TRB-powered apps in Roda, Grape, Sinatra and many more out there.
    </div>
    <div class="column medium-4">
      <h4>
        <i class="fa fa-university"></i>
        Legacy-ready
      </h4>

      You can start using Trailblazer in existing, massive applications today. Refactorings can be applied step-wise, legacy code can be minimized as you go. Remember: Rome wasn't built in one day, either.
    </div>
    <div class="column medium-4">
      <h4>
        <i class="fa fa-leaf"></i>
        Future-compatible
      </h4>

      Our promise to the community: Trailblazer 2 will be supported until end of 2020 or longer. Our API design makes it easy to provide automatic upgrading and backward-compatibility so you won't have to change code when we ship updates.
    </div>
  </div>
</section>



<section class="quarters">
  <div class="row">
    <div class="column medium-4">
      <h4>
        <i class="fa fa-recycle"></i>
        Build to Refactor
      </h4>

      Our patterns are developed to be used in highly complex, existing, messy legacy applications. Trailblazer is designed to refactor old code - you do not have to rewrite the entire system to get a better architecture.
    </div>

    <div class="column medium-4">
      <h4>
        <i class="fa fa-dashboard"></i>
        Test first
      </h4>

      By restructuring business code, application behavior can be tested more efficiently with more unit and less integration tests. Trailblazer engineers do enjoy the simplicity of testing and the speedup of the test suites.
    </div>

    <div class="column medium-4">
      <h4>
        <i class="fa fa-ship"></i>
        It's real!
      </h4>

      Trailblazer is in use in thousands of production applications. Our patterns have evolved over a decade of engineering, our gems are mature and battle-tested. And: we will never stop innovating.
    </div>
  </div>
</section>



<section class="mascots">
  <div class="row">
    <div class="column medium-4 medium-offset-2">
      <div class="mascot">
        <img src="/images/sticker/sticker2017.png">
        <h3>We walk the walk.</h3>
      </div>

      Trailblazer defines patterns for a better architecture, and gives you implementations to use those patterns in your applications. Your software will be better structured, more consistent and with stronger, faster, and way simpler tests.

      Our high-level architecture and enterprise-ready™ gems will prevent you from reinventing the wheel again and again - you and your team are free to think about the next awesome feature.
    </div>

    <div class="column medium-4 end">
      <div class="mascot">
        <img src="/images/sticker/consulting.jpg">
        <h3>We love legacy apps.</h3>
      </div>

      By standardizing the business logic, new developers can be onboarded faster with help of our free documentation. Trailblazer's patterns cover 75% of daily business code's structure - you will feel the power of strong conventions within the first hours.

      If that's not enough, we provide on-site training, premium support and consulting. Dozens of companies worldwide trust us already.
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">
    <div class="column medium-9 medium-centered text-center">
      <a href="/gems/operation/2.0/index.html" class="button">LEARN MORE ABOUT TRAILBLAZER!</a>
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">
    <div class="column medium-9 medium-centered text-center">
      <h2>Want some code?</h2>
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">

    <div class="column medium-1"
      <p>&nbsp;</p>
    </div>

    <div class="column medium-5">
      <pre>
      <code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">SongsController</span> &lt; ApplicationController</span>
  <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">create</span></span>
    run Song::Create <span class="hljs-keyword">do</span> <span class="hljs-params">|result|</span>
      redirect_to songs_path(result[<span class="hljs-string">"model"</span>])
    <span class="hljs-keyword">end</span>
  <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
</code>
      </pre>
    </div>

    <div class="column medium-5">
      <p><strong>CONTROLLER</strong> They end up as lean HTTP endpoints. No business logic is to be found in the controller, they instantly delegate to their respective operation.</p>

      <p>Oh, and did we say there won't be controller tests anymore? That's right. Only unit and integration tests.</p>
    </div>

    <div class="column medium-1"
    </div>
  </div>
</section>

<section class="grey">
  <div class="row">
    <div class="column medium-4 medium-offset-1">

    <p><strong>MODEL</strong> Models contain associations, scopes and finders. Only persistence logic, no callbacks, no validations, no business logic here.</p>

    class Song < ActiveRecord::Base
      has_many   :albums
      belongs_to :composer
    end

    <pre>
    <code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Song</span> &lt; ActiveRecord::Base</span>
  has_many   <span class="hljs-symbol">:albums</span>
  belongs_to <span class="hljs-symbol">:composer</span>
<span class="hljs-keyword">end</span>
</code>
    </pre>

    <p>Any number of <strong>POLICY</strong>s can be used in an operation to grant or deny access to functionality.</p>

    <pre>
    <code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Application::Policy</span> &lt; Pundit::Policy</span>
  <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">create?</span></span>
    user.can_create?(model)
  <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
</code>
    </pre>

    <p>Also, use your choice of authorization framework.</p>
    </div>

    <div class="column medium-6 end">
      <p>The <strong>OPERATION</strong> is the heart of the Trailblazer architecture. It orchestrates validations, policies, models, callback and business logic by leveraging a functional pipeline with built-in error handling.</p>

      <pre>
      <code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Song::Create</span> &lt; Trailblazer::Operation</span>
  step Model( Song, <span class="hljs-symbol">:new</span> )
  step Policy::Pundit( Application::Policy, <span class="hljs-symbol">:create?</span> )
  step Contract::Build( <span class="hljs-symbol">constant:</span> Song::Contract::Create )
  step Contract::Validate()
  step Contract::Persist()
  fail Notifier::DBError
  step <span class="hljs-symbol">:update_song_count!</span>

  <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">update_song_count!</span><span class="hljs-params">(options, <span class="hljs-symbol">current_user:</span>, **)</span></span>
    current_user.increment_song_counter
  <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
</code>
      </pre>

    <p>Designed to be a stateless object, the operation passes around one mutable options hash and makes heavy use of Ruby keyword arguments - if you want it.</p>
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">
    <div class="column medium-5 medium-offset-1">
      <pre>
      <code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Song::Contract::Create</span> &lt; Reform::Form</span>
  property <span class="hljs-symbol">:title</span>
  property <span class="hljs-symbol">:length</span>

  validates <span class="hljs-symbol">:title</span>, <span class="hljs-symbol">presence:</span> <span class="hljs-literal">true</span>
<span class="hljs-keyword">end</span>
</code>
      </pre>
    </div>

    <div class="column medium-5 end">
      <p>Validations are implemented with <strong>CONTRACT</strong>.</p>

      <p>Trailblazer supports Reform and `Dry::Schema` validations in any number.</p>
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">
    <div class="column medium-4 medium-offset-1">
      <p>Any dependency, such as the current user, must be <a href="/gems/operation/2.0/api.html#dependency-injection">injected from the outside</a>.</p>

      <p>The concept of global state does not exist in Trailblazer, which leads to simplified, mock-free testability and concurrent-ready code.</p>
    </div>

    <div class="column medium-6 end">
      <p><strong>And the best:</strong> there's only one way to run an operation.</p>

      <pre>
      <code class="hljs ruby">Song::Create.(
  { <span class="hljs-symbol">title:</span> <span class="hljs-string">"Roxanne"</span>, <span class="hljs-symbol">length:</span> <span class="hljs-number">300</span> }, <span class="hljs-comment"># params</span>
  <span class="hljs-string">"current_user"</span>: current_user       <span class="hljs-comment"># dependencies</span>
)
</code>
      </pre>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="column medium-5 medium-offset-1"
      <pre>
      <code class="hljs ruby">
      describe Song::Create <span class="hljs-keyword">do</span>
        it <span class="hljs-string">"prohibits empty params"</span> <span class="hljs-keyword">do</span>
    result = Song::Create.({})

    expect(result).to be_failure
    expect(result[<span class="hljs-string">"model"</span>]).to be_new
  <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
</code>
      </pre>
    </div>
    <div class="column medium-4 end">
      <p>Clumsy, slow controller tests are history. Now that all your business logic is controlled by the operation, <strong>SIMPLE UNIT TESTS</strong> can test any edge-case scenario or avoid regressions.</p>

      <p>Trailblazer's encapsulation makes a programmer's life better.</p>
    </div>
  </div>
</section>

<section class=" ">
  <div class="row">
    <div class="column medium-9 medium-centered text-center">
      <a href="/gems/operation/2.0/index.html" class="button">LEARN MORE ABOUT TRAILBLAZER!</a>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="sub-section testimonials">
  <section class=" ">
    <div class="row">
      <div class="column medium-9 medium-centered text-center">
        <h2>Testimonials</h2>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="columns">
      <a name="testimonials"></a>

      <div class="carousel">

        <div>
          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/igor.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                "At some point of time we started to decouple our form objects from models. Things got a lot easier when we found out there is a ready to use solution which solves our exact problem. That was Reform. Soon after, we started using all other parts of Trailblazer and haven't regretted a second of our time we spent using it."
                <cite><strong>Igor Pstyga</strong>, PeerStreet</cite>
              </blockquote>
            </div>
          </div>

          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/users/jared.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                I'm a much stronger Ruby developer now because of TRB. More files, less code, I'll take it!! I wake up excited to start coding now again.
                <cite><strong>Jared Rubin</strong>, CTO / <a href="feeder.nyc">Feeder Real Estate</a></cite>
              </blockquote>
            </div>
          </div>

        </div>

        <div>
          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/yuri.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                "Trailblazer helps organize my code, the book showed me how. You can assume what each component does by its name, it's very easy and intuitive, it should be shipped as an essential part of Rails."
                <cite><strong>Yuri Freire Lima</strong>, AzClick</cite>
              </blockquote>
            </div>
          </div>

          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/eric.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                Trailblazer has brought the fun back to Rails for me. It helps me organize large codebases into small, smart, testable chunks. Nick has brought together his years of insight in managing Rails projects and made them available for everyone. Any Rails engineer looking to expand past the default Rails Way should take a look at Trailblazer.
                <cite><strong>Eric Skogen</strong>, Software Inventor</cite>
              </blockquote>
            </div>
          </div>
        </div>

        <div>

          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/paulo.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                "Here at Chefsclub, we are very happy with Trailblazer. Our application already has 32 concepts, 130+ operations, and Cells surprised us as an awesome feature. We feel pretty safe with it."
                <cite><strong>Paulo Fabiano Langer</strong>, Chefsclub</cite>
              </blockquote>
            </div>
          </div>

          <div class="row testimonial">
            <div class="columns medium-2">
              <img src="../images/nick.jpg" class="avatar">
            </div>
            <div class="columns medium-10">
              <blockquote>
                I haven't been this excited about Rails since 2007! Trailblazer - makes Rails development fun again. Especially on large projects. It's one of the better implementations of the ServiceObject / ViewModel / Form Object / Policy layers I've seen, which sooner or later ( rather sooner) you'll need.
                <cite><strong>Nick Gorbikoff</strong>, Rinica Company</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="trb-users">
  <section class=" ">
    <div class="row">
      <div class="column medium-9 medium-centered text-center">
        <h2>Users</h2>
      </div>
    </div>
  </section>

<div class="row">
    <div class="columns">
      <a name="users"></a>

      <div class="row">
      <div class="column medium-2 text-center logo-leveler">
          <a href="https://www.luma-institute.com/" target="_blank">
            <img src="/images/users/luma.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://wickedweasel.com/" target="_blank">
            <img src="/images/users/ww.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="http://www.mytappr.com/" target="_blank">
            <img src="/images/users/tappr.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="http://zertico.com/" target="_blank">
            <img src="/images/users/zertico.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://serviceseeking.com.au/" target="_blank">
            <img src="/images/users/serviceseeking.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://weareathlon.com/" target="_blank">
            <img src="/images/users/athlon.png" />
          </a>
        </div>
      </div>

      <div class="row">
        <div class="column medium-2 text-center logo-leveler">
          <a href="http://localsearch.com.au/" target="_blank">
            <img src="/images/users/localSearch.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="http://microminimus.com" target="_blank">
            <img src="/images/users/microminimus.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://shaken.com/" target="_blank">
            <img src="/images/users/shaken.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="http://yebo.com.br/" target="_blank">
            <img src="/images/users/yebo.png" />
          </a>
        </div>


        <div class="column medium-2 text-center">
          <a href="http://ajrintl.com/" target="_blank">
            <img src="/images/users/ajr.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://rinica.com/" target="_blank">
            <img src="/images/users/rinica.png" />
          </a>
        </div>
      </div>

      <div class="row">
        <div class="column medium-2 text-center logo-leveler">
          <a href="https://www.skovingulv.no" target="_blank">
            <img src="/images/users/skovin.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="http://angelcompass.org/" target="_blank">
            <img src="/images/users/angelcompass.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="https://www.gratwifi.eu" target="_blank">
            <img src="/images/users/gratwifi_logo_facebook.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="https://mobidev.biz" target="_blank">
            <img src="/images/users/mobidev.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="https://www.pollpush.com/" target="_blank">
            <img src="/images/users/pollpush.png" />
          </a>
        </div>

        <div class="column medium-2 text-center logo-leveler">
          <a href="https://www.clickfunnels.com/" target="_blank">
            <img src="/images/users/cf-logo-dark-blue.png" />
          </a>
        </div>
      </div>

      <div class="row">
        <div class="column medium-2 text-center">
          <a href="http://companymood.com" target="_blank">
            <img src="/images/users/CompanyMood-Logo-02.png" />
          </a>
        </div>

        <div class="column medium-2 text-center">
          <a href="http://mitimes.com" target="_blank">
            <img src="/images/users/mitimes.png" />
          </a>
        </div>

      </div>

    </div>
  </div>


</section>
<section class=" ">
  <div class="row">
    <div class="column medium-9 medium-centered text-center">
      <p>Your logo here? <a href="https://gitter.im/trailblazer/chat">Send it to us →</a></p>
    </div>
  </div>
</section>
